<div class="container-fluid"> 
    <div class="row">
        <h1> EXPERIENCIA LABORAL </h1>

        <div class="col-lg-2">
            <button type="button" class="btn btn-primary" routerLink="/nuevaExperiencia" *ngIf="isLogged"> 
                Nueva experiencia
            </button>

          

        </div>
        
        <div class="col-lg 1"> </div>
        <div class="col-lg-11">
            <table class="table">
                <body>
                    <tr *ngFor="let Experiencia of expe"> 
                        <td> {{Experiencia.nombreE}} </td>
                        <td> {{Experiencia.descripcionE}} </td>
                        <td> Editar </td>
                        <td> Borrar </td>
                    </tr>
    
    
                </body>
    
    
            </table>



        </div>
        


    </div>



</div>