<div class="container-fluid">
    <div class="row"> 
        <h1> Skills </h1>
        <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'HTML'"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [titleFontSize]="'40'"
            [showSubtitle]="false"
            [outerStrokeWidth]="2"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#ECB390'"
            [innerStrokeColor]="'#94B49F'"
            [animation]="true"
            [animationDuration]="600"
        
            
            >
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'HTML'"
            [imageSrc]="'../assets/c.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [titleFontSize]="'40'"
            [showSubtitle]="false"
            [outerStrokeWidth]="2"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#ECB390'"
            [innerStrokeColor]="'#94B49F'"
            [animation]="true"
            [animationDuration]="600"
        
            
            >
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'HTML'"
            [imageSrc]="'../assets/java.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [titleFontSize]="'40'"
            [showSubtitle]="false"
            [outerStrokeWidth]="2"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#ECB390'"
            [innerStrokeColor]="'#94B49F'"
            [animation]="true"
            [animationDuration]="600"
        
            
            >
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'HTML'"
            [imageSrc]="'../assets/mysql.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [titleFontSize]="'40'"
            [showSubtitle]="false"
            [outerStrokeWidth]="2"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#ECB390'"
            [innerStrokeColor]="'#94B49F'"
            [animation]="true"
            [animationDuration]="600"
        
            
            >
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'HTML'"
            [imageSrc]="'../assets/css.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [titleFontSize]="'40'"
            [showSubtitle]="false"
            [outerStrokeWidth]="2"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#ECB390'"
            [innerStrokeColor]="'#94B49F'"
            [animation]="true"
            [animationDuration]="600"
        
            
            >
        </circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'HTML'"
            [imageSrc]="'../assets/github-black.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [titleFontSize]="'40'"
            [showSubtitle]="false"
            [outerStrokeWidth]="2"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#ECB390'"
            [innerStrokeColor]="'#94B49F'"
            [animation]="true"
            [animationDuration]="600"
        
            
            >
        </circle-progress>
    </div>
    
    </div> 
    


</div>