.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
}
.btn-info {
    --bs-btn-bg:#BBBFCA;
    --bs-btn-border-color:#BBBFCA;
    --bs-btn-hover-bg: #BBBFCA;
}

.link-info {
    color: black !important;
}
 .row{
    font-family: montserrat;
 }

 
 form{
     style: "width: 23rem";
 }

 .btn-check:checked + .btn, .btn-check:active + .btn, .btn:active, .btn.active, .btn.show {
    color: black;
    color: #000000;
    background-color: #bbbfca;
    border-color: #bbbfca;
    border-top-color: rgb(187, 191, 202);
    border-right-color: rgb(187, 191, 202);
    border-bottom-color: rgb(187, 191, 202);
    border-left-color: rgb(187, 191, 202);
}

    