<div class="container-fluid"> 
    <div class="row">
        <h1> Educación </h1>
        <div class="col-lg-1"> 

            
        </div>
        <div class="col-lg-11"> 
            <ul>
                <li>
                    <h3> Licenciatura en sistemas  </h3> - <h5> years </h5>
                    <p> descripción </p>
                 </li>
                <li>
                     <h3> Analista programador universitario </h3> - <h5> years </h5>
                     <p> descripción </p>
                </li>
                <li> 
                    <h3>Bachiller en economía y administración </h3> -   <h5> years </h5>
                    <p> descripción </p>
                </li>
                <li>
                    <h3> Capacitación superior en inglés  </h3> - <h5> years </h5>
                    <p> descripción </p>
                 </li>

            </ul>
            
        </div>

    </div>



</div>