/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
}

.font2{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Kaisei Opti', serif;
    font-family: 'Montserrat', sans-serif;
}
