<div class="container-fluid"> 
    <div class="row">
        <h1> PROYECTOS </h1>    
        <div class="contenedor"> 
            <div class="col-sm-12 col-md-7 col-lg-7 parte1"> 
                <ul>
                    <li>
                        <h3> Portfolio web full stack  </h3> - <h5> 2022 </h5>
                        <p> Trabajo final integrador del curso Argentina Programa 2da etapa. Tecnologias utilizadas: Angular, Sprint Boot, MySQL </p>
                     </li>                
                </ul>            
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 parte2">
                <img src="../../../assets/screenshot-portfolio.png" class="img-fluid img-proyecto">     
            </div>  
        
        
        
        </div>
        
    </div>



</div>
