<div class="container-fluid"> 
    <div class="row">
        <h1> Experiencia laboral </h1>
        <div class="col-lg-1"> 

            
        </div>
        <div class="col-lg-11"> 
            <ul>
                <li>
                    <h3> Profesora de idiomas  </h3> - <h5> years </h5>
                    <p> descripción </p>
                 </li>
                <li>
                     <h3> Manejo de redes sociales </h3> - <h5> years </h5>
                     <p> descripción </p>
                </li>
                <li> 
                    <h3>Servicio de atención al cliente </h3> -   <h5> years </h5>
                    <p> descripción </p>
                </li>

            </ul>
            
        </div>

    </div>



</div>