<div class="container-fluid"> 
    <div class="row">
        <h1> Proyectos </h1>    
        <div class="contenedor"> 
            <div class="col-sm-12 col-md-7 col-lg-7 parte1"> 
                <ul>
                    <li>
                        <h3> Portfolio  </h3> - <h5> years </h5>
                        <p> descripción </p>
                     </li>                
                </ul>            
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 parte2">
                <img src="../../../assets/html.png" class="img-fluid img-proyecto">     
            </div>
        
        
        
        
        </div>
        
    </div>



</div>
