.row{
    padding:20px;
    background: rgb(244, 244, 242,0.6);
}
div{
    
}
h3,h5{
    display:inline;
}
.contenedor{
    width:auto;
}
.parte1,parte2{
    display:inline-block;
    text-align:justify;
}
.img-proyecto{
    box-shadow: 10px 10px 30px grey ;
}