<div class="container-fluid"> 
    <div class="row">
        <h1> EDUCACIÓN </h1>        

        <div class="col-lg-2">
            <button type="button" class="btn btn-primary" routerLink="/nuevaEducacion" *ngIf="isLogged"> 
                Agregar educación
            </button>

          

        </div>
        
        <div class="col-lg 1"> </div>
        <div class="col-lg-11">
            <table class="table">
                <tbody>
                    <tr *ngFor="let Educacion of educacion"> 
                        <td> 
                            <h2> {{Educacion.nombreE}} </h2> 
                        </td>
                        <td> 
                            {{Educacion.descripcionE}} </td>
                        <td> 
                            {{Educacion.inicioE}}   
                        </td>
                        <td> {{Educacion.finE}}
                        </td>
                        <td *ngIf="isLogged"> 
                            <button class="btn btn-primary" routerLink="/editeducacion/{{Educacion.id}}"> 
                            <i class="bi bi-pencil-fill"> </i>  Editar </button>  
                        </td>
                        
                        <td *ngIf="isLogged"> 
                            <button class="btn btn-primary" (click)= "delete(Educacion.id)"> 
                            <i class="bi bi-trash"> </i>  Borrar </button>  
                        </td>
                    </tr> 
    
                </tbody>   
    
            </table>
        </div>    


    </div>



</div>