.row{
    padding:50px;
    background: rgb(187, 191, 202,0.6);
    margin:0px;
    
}
div{
   
}
h3,h5{
    display:inline;
  
}
h1{
    font-size:30px;
    font-family:MONTSERRAT;
    font-weight: bold;
    text-align: center;
}
#titulo{
    font-family: 'Kaisei Opti', serif;  
    
    font-size: 20px;
    color:black;
}
h5{
    color:black;
    font-family:'Kaisei Opti', serif;
   
    font-size: 15px;
}
ul {
    list-style-type: circle;
  }