<div class="container-fluid">
    <div class="row">

        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/perfil.png" class="img-fluid" id="profilePhoto">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="name" > Sofia Agostina Avila </p>
            <p id="name" > {{persona.nombre}} {{persona.apellido}} </p> 
            <p> Estudiante y full stack web developer Jr </p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1 id="about"> ACERCA DE MÍ</h1>
                <p class="descripcion"> Actualmente me encuentro en el segundo año de las carreras
                    analista programador universitario y licenciatura en sistemas en la
                    Universidad Nacional de La Plata
                </p>    
            </span>

    </div>
</div>
</div>


