<div class="container-fluid">
    <div class="row"> 
        <h1> HARD & SOFT SKILLS </h1>

        <!-- HTML -->
        <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="60"
            [radius]="100"
            [title]="'HTML'"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="130"
            [imageWidth]="130"
            [showUnits]="false"
            [titleFontSize]="'40'"
            [showSubtitle]="false"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#495464'"
            [innerStrokeColor]="'#F4F4F2'"
            [animation]="true"
            [animationDuration]="600"
        
            
            >
        </circle-progress>
    </div>
    <!-- C# -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="70"
            [radius]="100"
            [title]="'C#'"
            [imageSrc]="'../assets/c.png'"
            [showImage]="true"
            [imageHeight]="130"
            [imageWidth]="130"
            [showUnits]="false"
            [titleFontSize]="'40'"
            [showSubtitle]="false"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#495464'"
            [innerStrokeColor]="'#F4F4F2'"
            [animation]="true"
            [animationDuration]="600"
        
            
            >
        </circle-progress>
    </div>
    <!-- JAVA  -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="90"
            [radius]="100"
            [title]="'JAVA'"
            [imageSrc]="'../assets/java.png'"
            [showImage]="true"
            [imageHeight]="130"
            [imageWidth]="130"
            [showUnits]="false"
            [titleFontSize]="'40'"
            [showSubtitle]="false"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#495464'"
            [innerStrokeColor]="'#F4F4F2'"
            [animation]="true"
            [animationDuration]="600"
        
            
            >
        </circle-progress>
    </div>
    <!-- SQL -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="30"
            [radius]="100"
            [title]="'HTML'"
            [imageSrc]="'../assets/mysql.png'"
            [showImage]="true"
            [imageHeight]="130"
            [imageWidth]="130"
            [showUnits]="false"
            [titleFontSize]="'40'"
            [showSubtitle]="false"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#495464'"
            [innerStrokeColor]="'#F4F4F2'"
            [animation]="true"
            [animationDuration]="600"
        
            
            >
        </circle-progress>
    </div>
    <!-- CSS -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="40"
            [radius]="100"
            [title]="'HTML'"
            [imageSrc]="'../assets/css.png'"
            [showImage]="true"
            [imageHeight]="130"
            [imageWidth]="130"
            [showUnits]="false"
            [titleFontSize]="'40'"
            [showSubtitle]="false"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#495464'"
            [innerStrokeColor]="'#F4F4F2'"
            [animation]="true"
            [animationDuration]="600"
        
            
            >
        </circle-progress>
    </div>
    <!-- GITHUB -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="70"
            [radius]="100"
            [title]="'github'"
            [imageSrc]="'../assets/github-black.png'"
            [showImage]="true"
            [imageHeight]="160"
            [imageWidth]="160"
            [showUnits]="false"
            [titleFontSize]="'40'"
            [showSubtitle]="false"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#495464'"
            [innerStrokeColor]="'#F4F4F2'"
            [animation]="true"
            [animationDuration]="600"
        
            
            >
        </circle-progress>
    </div>
    <!-- OPP -->
    <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
            [percent]="100"
            [radius]="100"
            [title]="'POO'"
            [imageSrc]="'../assets/poo.png'"            
            [showImage]="true"
            [imageHeight]="180"
            [imageWidth]="160"
            [showUnits]="false"
            [titleFontSize]="'40'"
            [showSubtitle]="false"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#495464'"
            [innerStrokeColor]="'#F4F4F2'"
            [animation]="true"
            [animationDuration]="600"
        
            
            >
        </circle-progress>
    </div>
    
    </div> 
    


</div>